<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ИжГТУ. Управление предприятием">
    <meta name="author" content="Filatov">

    <title>ИжГТУ. Экономика программной инженерии</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.webp}">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" th:href="@{lib/fontawesome-free/css/all.min.css}">

    <!-- Page level plugin CSS-->
    <link rel="stylesheet" th:href="@{lib/gantt/css/style.css}">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{lib/sb-admin/sb-admin.min.css}">
</div>
</body>
</html>