<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scripts">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{lib/jquery/jquery.min.js}"></script>
    <script th:src="@{lib/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{lib/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{lib/sb-admin/sb-admin.min.js}"></script>
</div>
</body>
</html>