<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="EN">

<head>
    <div th:insert="fragments/head :: head"></div>
    <link rel="stylesheet" th:href="@{lib/dataTables/dataTables.bootstrap4.min.css}">
</head>

<body id="page-top">

<div th:insert="fragments/nav :: nav"></div>

<div id="wrapper">
    <!-- Sidebar -->
    <div th:insert="fragments/sidebar :: sidebar"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <!--<ol class="breadcrumb">
                <li class="breadcrumb-item">Данные проекта</li>
            </ol>-->

            <!-- Page Content -->
            <h1>Проект</h1>
            <hr>

            <div class="card mb-3 col-lg-12">
                <div class="card-header">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEmployee">
                        Добавить сотрудника
                    </button>
                    <div class="float-lg-right">
                        <i class="fas fa-table"></i>
                        Сотрудники
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>ФИО</th>
                                <th>Должность</th>
                                <th>Часовая ставка</th>
                                <th>Редактировать</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee, iterStat : ${listEmployee}">
                                <td name="id" th:text="${employee.id}">id</td>
                                <td name="name" th:text="${employee.name}">name</td>
                                <td name="position" th:text="${employee.position}">position</td>
                                <td name="hourRate" th:text="${employee.hourRate}">hour rate</td>
                                <td>
                                    <button class="btn btn-outline-secondary" >
                                        <i class="fa fa-edit">Редактировать</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Все права защищены © ИжГТУ 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--Scripts-->
<div th:insert="fragments/scripts :: scripts"></div>
<!--Plugins-->
<script th:src="@{lib/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{lib/dataTables/dataTables.bootstrap4.min.js}"></script>

<!--Page template-->
<script type="text/javascript" th:src="@{js/settings.js}"></script>

<!-- Employee Modal-->
<div class="modal fade" id="modalEmployee" tabindex="-1" role="dialog" aria-labelledby="modalWindow"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalWindow">Добавить/редактировать сотрудника</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Введите данные</p>
                <!--<span id="id" hidden data-id='0'>0</span>-->
                <form>
                    <div class="form-group row">
                        <label for="id" class="col-sm-4 col-form-label">ID</label>
                        <div class="col">
                            <input type="text" class="form-control" readonly id="id" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">ФИО</label>
                        <div class="col">
                            <input type="text" class="form-control" id="name" placeholder="ФИО">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hourRate" class="col-sm-4 col-form-label">Часовая ставка</label>
                        <div class="col">
                            <input type="number" class="form-control" id="hourRate" placeholder="5">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="position" class="col-sm-4 col-form-label">Должность</label>
                        <div class="col">
                            <input type="text" class="form-control" id="position" placeholder="программист">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                <a class="btn btn-primary" href="#" id="save">Сохранить</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
